<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pokemon</title>
    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>

  <div class = "containareon">
    <header>

    </header>

    <main>
      <div class= "menu">
        <ul>
        <li><a href ="/"> HOME </a></li>
        <li><a href ="/trainers"> Trainers </a></li>
        <li><a href ="/pokemons"> Pokemons </a></li>
      </ul>
      </div>

      <div class = "content">
      <%=yield %>
      </div>

    </main>

    <footer>

    </footer>

  </div>

  </body>



</html>
